{% extends "layout/default.html.twig" %}

{% set title = "Développeur Web Symfony - Lille FR" %}
{% set description = "Développeur PHP/Javascript Symfony dans la région de Lille / France." %}

{% block title %}{{ parent() ~ title }}{% endblock %}
{% block description %}{{ description }}{% endblock %}

{% block ogFacebookTitle %}{{ parent() ~ title }}{% endblock %}
{% block ogFacebookDescription %}{{ description }}{% endblock %}

{% block ogTwitterTitle %}{{ parent() ~ title }}{% endblock %}
{% block ogTwitterDescription %}{{ description }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags("home") }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags("home") }}
{% endblock %}

{% block content %}
    <!-- =============== ABOUT =============== -->
    <article id="about">
        <h1 class="textFadeInTop"><span>Samuel</span></h1>

        <p id="presentation" class="textFadeInTop">
            <span>Développeur<br>
                web full stack<br>
                Symfony</span></p>

        <div id="more" class="partialLengthContainer">
            <p>Je suis Samuel, développeur Symfony / Angular dans la région de Lille / France.</p>

            <p>J'aime imaginer et concevoir des applications novatrices qui me permettent d'évoluer sans cesse dans le domaine du développement web.</p>

            <p>Du site portail aux API plus complexes, j'exerce aujourd'hui mon métier au sein d'une entreprise avec laquelle je partage la passion du Web, Canal-Tech.</p>

            <a class="commonLinks"
               href="{{ asset('pdf/CV_2021.pdf') }}"
               download="CV_Samuel_2021">Curriculum vitae</a>
        </div>

        <div id="languages">
            {% include("common_components/languages.html.twig") with {
                "language1": "html",
                "language2": "css"
            } only %}

            {% include("common_components/languages.html.twig") with {
                "language1": "js/ts",
                "language2": "php"
            } only %}
        </div>
    </article>

    <!-- =============== PROJECTS =============== -->
    <article id="projects">
        <h2 class="noAnimated" data-animation="textFadeInTop"><span>Projets</span></h2>

        <div>
            {% include "common_components/project.html.twig" with {
                "projectTitle": "Form Service",
                "projectDescription": "Élaboration d'une API permettant de délivrer rapidement des formulaires de simulation exploitables via une librairie custom (Symfony / Webpack).",
                "projectLink": "https://www.keyliance.fr/simulation-projet",
                "imgLink": asset('build/images/formService.jpg'),
                "imgAlt": "Samuel Darras - Form Service",
            } only %}

            {% include "common_components/project.html.twig" with {
                "projectTitle": "Keyliance",
                "projectDescription": "Refonte du site portail de Keyliance (Symfony / Webpack).",
                "projectLink": "https://www.keyliance.fr",
                "imgLink": asset('build/images/keyliance.jpg'),
                "imgAlt": "Samuel Darras - Keyliance",
                "reverse": true,
            } only %}

            {% include "common_components/project.html.twig" with {
                "projectTitle": "Finandom / KA",
                "projectDescription": "Refonte des sites portail de Finandom et Keyliance-antilles (Symfony / Webpack).",
                "projectLink": "https://www.finandom.re",
                "imgLink": asset('build/images/finandom.jpg'),
                "imgAlt": "Samuel Darras - Finandom",
            } only %}

            {% include "common_components/project.html.twig" with {
                "projectTitle": "Keyfast Gateways Manager",
                "projectDescription": "Application permettant d'administrer les accès par société, consulter la documentation et effectuer une saisie d'une passerelle bancaire (Symfony / Angular).",
                "projectLink": "https://passerelles.keyfast.pro",
                "imgLink": asset('build/images/gateways.jpg'),
                "imgAlt": "Samuel Darras - Keyfast Gateways Manager",
                "reverse": true,
            } only %}

            {% include "common_components/project.html.twig" with {
                "projectTitle": "DBZ Pixels Fight",
                "projectDescription": "Projet interactif sur le thème du manga Dragon Ball (React).",
                "projectLink": "",
                "imgLink": asset('build/images/dbzPixelFight.jpg'),
                "imgAlt": "Samuel Darras - DBZ Pixels Fights",
                "inDevelopment": true,
            } only %}
        </div>
    </article>

    <!-- =============== CONTACT =============== -->
    <article id="contact">
        <h2 class="noAnimated" data-animation="textFadeInTop"><span>Restons</span><span>en contact</span></h2>

        <div id="details" class="partialLengthContainer noAnimated" data-animation="fadeIn">
            <p>Une question ? Un besoin de renseignements ?<br>
                Je reste disponible pour vous répondre au plus vite.</p>

            <a class="commonLinks"
               href="mailto:samuel.darras@orange.fr"
               download="CV_Samuel_2021">samuel.darras@orange.fr</a>

            <nav id="socialContainerBottom">
                <ul>
                    <li class="noAnimated"
                        data-animation="textFadeInTop">
                        <span><a target="_blank"
                                 rel="noreferrer noopener"
                                 title="Linkedin"
                                 href="https://fr.linkedin.com/in/samueldarras">linkedin</a></span></li>
                    <li class="noAnimated"
                        data-animation="textFadeInTop">
                        <span><a target="_blank"
                                 rel="noreferrer noopener"
                                 title="Gitlab"
                                 href="https://gitlab.com/JohnCotelette">gitlab</a></span></li>
                </ul>
            </nav>
        </div>
    </article>
{% endblock %}
