@import "./core";

/* ---------------------------------------------- FONTS ---------------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Lato&display=swap);

@font-face {
    font-family: "Sequel Black";
    src: url("../fonts/Sequel100Black-65.eot");
    src: url("../fonts/Sequel100Black-65.eot?#iefix") format("embedded-opentype"),
         url("../fonts/Sequel100Black-65.woff2") format("woff2"),
         url("../fonts/Sequel100Black-65.woff") format("woff"),
         url("../fonts/Sequel100Black-65.ttf") format("truetype"),
         url("../fonts/Sequel100Black-65.svg#Sequel100Black-65") format("svg");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* ---------------------------------------------- RESET AND MAIN ---------------------------------------------- */

* {
    box-sizing: border-box;
    word-break: break-word;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

html {
    font-size: 16px;
}

body {
    width: 100%;
    min-width: 350px;
    font-family: "Lato", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: $heavyWhite;
}

#totalPageContent {
    flex-direction: column;
    min-height: 100vh;
}

#scrollable {
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    flex-direction: column;
    height: calc(100vh - 80px);
    overflow-y: scroll;
}

main {
    flex: 1;
    animation: fadeIn 0.3s ease both;
}

body, h1, h2, h3, p, ul, figure {
    margin: 0;
}

body, ul {
    padding: 0;
}

h1, h2, h3 {
    font-family: "Sequel Black", Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
}

ul {
    list-style: none;
}

figure img {
    width: 100%;
    height: 100%;
}

a, a:active, a:visited {
    color: $heavyWhite;
    text-decoration: none;
}

body, #mainHeader nav {
    background-color: $heavyBlack;
}

input, button, textarea {
    outline: none;
}

.partialLengthContainer {
    width: 92%;
    margin: 0 auto;
}

/* ---------------------------------------------- COMMON STYLES ---------------------------------------------- */

footer button {
    display: none;
}

figure, figure a, #pageFilter, #mainHeader, #mainHeader nav li {
    display: flex;
}

.blockToHide {
    display: block;
}

.commonLinks {
    display: inline-block;
}

#mainHeader {
    justify-content: space-between;
}

#pageFilter, #mainHeader {
    position: fixed;
}

#mainHeader nav {
    position: absolute;
}

#mainHeader > div {
    margin: auto 0;
}

#mobileController .bar1, #mobileController .bar2, #mobileController .bar3 {
    pointer-events: none;
    width: 34px;
    height: 3px;
    margin: 8px 0;
    background-color: $heavyWhite;
    transition: background-color 0.3s ease;
}

.navMobileHidden .bar1, .navMobileHidden .bar2, .navMobileHidden .bar3 {
    transform: initial;
}

.bar1, .bar2, .bar3 {
    transition: transform 0.3s ease !important;
}

#mobileController {
    animation: fadeIn 0.3s ease both;
}

#mobileController {
    animation-delay: 0.4s;
}

.commonLinks {
    padding: 15px 28px;
    border: 1px solid $heavyWhite;
    font-size: 0.95rem;
    line-height: 0.95rem;
    letter-spacing: 0.4px;
}

.commonLinks, #mainHeader {
    font-family: "Sequel Black", Arial, sans-serif;
}

.inDevelopment {
    border: none;
}

/* ---------------------------------------------- PAGE FILTER ---------------------------------------------- */

#pageFilter {
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

#pageFilter > div:nth-child(1) {
    width: 33.3%;
    height: 100%;
    border-left: 1px solid $transparentHeavyWhite;
    border-right: 1px solid $transparentHeavyWhite;
}

/* ---------------------------------------------- HEAVER NAV ---------------------------------------------- */

#mainHeader {
    position: fixed;
    height: 80px;
    width: 100%;
    padding: 0 5%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

#mainHeader > div:first-child {
    width: 110px;
    font-size: 1.15rem;
    line-height: 1.25rem;
}

#mobileController {
    cursor: pointer;
}

#mainHeader nav {
    top: 100%;
    right: 0;
    width: 270px;
    padding: 40px 28px 15px 0;
    transition: right 0.3s ease, opacity 0.3s ease;
    opacity: 1;
    border-left: 1px solid $transparentHeavyWhite;
    border-top: 1px solid $transparentHeavyWhite;
    border-bottom: 1px solid $transparentHeavyWhite;
}

#mainHeader nav li {
    justify-content: flex-end;
    height: 30px;
    margin-bottom: 20px;
    text-align: right;
}

#mainHeader nav > ul li a {
    font-size: 1.45rem;
    line-height: 1.55rem;
}

#mainHeader nav > li a {
    font-size: 1rem;
    height: 100%;
}

.bar2 {
    opacity: 0 !important;
}

.bar1 {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.bar3 {
    transform: rotate(45deg) translate(-9px, -7px);
}

#socialContainer {
    height: auto !important;
}

#socialContainer ul {
    margin-top: 26px;
}

#mailtoContainer a {
    margin-top: 8px;
    font-family: "Lato", Arial, sans-serif;
    font-size: 1rem !important;
    line-height: 1rem;
}

#othersSocialContainer {
    margin-bottom: 15px !important;
}

#othersSocialContainer a {
    width: 24px;
    height: 24px !important;
    background-size: contain;
    background-repeat: no-repeat;
}

#gitlabLink {
    position: relative;
    top: 3px;
    background-image: url("../img/gitlab.svg");
    margin-right: 32px;
}

#linkedinLink {
    background-image: url("../img/linkedin.svg");
}

/* ---------------------------------------------- FOOTER ---------------------------------------------- */

footer {
    margin-top: 90px;
    padding: 30px 0;
}

footer p {
    text-transform: uppercase;
    font-size: 0.84rem;
    line-height: 1rem;
}

/* ---------------------------------------------- ANIMATIONS ---------------------------------------------- */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(500px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes textFadeInTop {
    0% {
        transform: translateY(150%);
    }

    100% {
        transform: translateY(0);
    }
}

/* ---------------------------------------------- JS CLASS ---------------------------------------------- */

.textFadeInTop {
    overflow: hidden;
}

.textFadeInTop span {
    display: inline-block;
    animation: textFadeInTop 0.32s ease both;
}

.navMobileHidden nav {
    right: -270px !important;
    opacity: 0 !important;
}

.navMobileHidden .bar2 {
    opacity: 1 !important;
}

.noAnimated {
    opacity: 0;
}

.fadeIn {
    animation: fadeIn 0.5s linear both;
}

.fadeInTop {
    animation: fadeInTop 0.8s ease both;
}

/* ---------------------------------------------- RESPONSIVE WIDTH MIN 550PX ---------------------------------------------- */

@media (min-width: 550px) {

    /* ---------------------------------------------- MAIN ---------------------------------------------- */

    #scrollable {
        top: 82px;
        height: calc(100vh - 82px);
    }

    /* ---------------------------------------------- HEAVER NAV ---------------------------------------------- */

    #mainHeader {
        height: 82px;
    }

    #mainHeader nav {
        width: 290px;
        padding-right: 35px;
    }

    /* ---------------------------------------------- JS CLASS ---------------------------------------------- */

    .navMobileHidden nav {
        right: -290px !important;
    }
}

/* ---------------------------------------------- RESPONSIVE WIDTH MIN 768PX ---------------------------------------------- */

@media (min-width: 768px) {

    /* ---------------------------------------------- MAIN ---------------------------------------------- */

    main section {
        width: 515px;
    }

    /* ---------------------------------------------- COMMON STYLES ---------------------------------------------- */

    main section, #pageFilter {
        margin: 0 auto;
    }

    #pageFilter > div:nth-child(1), #pageFilter > div:nth-child(2), #pageFilter > div:nth-child(3) {
        border-right: 1px solid $transparentHeavyWhite;
        width: 33.3%;
        height: 100%;
    }

    .commonLinks {
        padding: 16px 28px 14px;
        font-size: 1.05rem;
        line-height: 1.05rem;
        letter-spacing: 0.5px;
    }

    /* ---------------------------------------------- PAGE FILTER ---------------------------------------------- */

    #pageFilter {
        width: 755px;
    }

    /* ---------------------------------------------- HEAVER NAV ---------------------------------------------- */

    #mainHeader {
        padding: 0 8%;
    }

    /* ---------------------------------------------- FOOTER ---------------------------------------------- */

    footer {
        margin-top: 130px;
        padding: 35px 0;
    }

    footer p {
        font-size: 0.9rem;
        line-height: 1.1rem;
    }
}

/* ---------------------------------------------- RESPONSIVE WIDTH MIN 900PX ---------------------------------------------- */

@media (min-width: 900px) {

    /* ---------------------------------------------- MAIN ---------------------------------------------- */

    main section {
        width: 575px;
    }

    /* ---------------------------------------------- PAGE FILTER ---------------------------------------------- */

    #pageFilter {
        width: 845px;
    }
}

/* ---------------------------------------------- RESPONSIVE WIDTH MIN 1000PX ---------------------------------------------- */

@media (min-width: 1000px) {

    /* ---------------------------------------------- COMMON STYLES ---------------------------------------------- */

    .commonLinks {
        position: relative;
        border: none;

        &::before, &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            content: "";
            border: 1px solid transparent;
        }

        &:hover::before, &:hover::after {
            width: 100%;
            height: 100%;
        }

        &:hover::before {
            border-top-color: $heavyWhite;
            border-right-color: $heavyWhite;
            transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
        }

        &:hover::after {
            border-bottom-color: $heavyWhite;
            border-left-color: $heavyWhite;
            transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
        }
    }

    .inDevelopment {
        pointer-events: none;
    }

    /* ---------------------------------------------- MAIN ---------------------------------------------- */

    main section {
        width: 635px;
    }

    /* ---------------------------------------------- PAGE FILTER ---------------------------------------------- */

    #pageFilter {
        width: 945px;
    }
}

/* ---------------------------------------------- RESPONSIVE WIDTH MIN 1120PX ---------------------------------------------- */

@media (min-width: 1120px) {

    /* ---------------------------------------------- MAIN ---------------------------------------------- */

    #scrollable {
        top: 105px;
        height: calc(100vh - 105px);
    }

    main section, footer {
        width: 838px;
    }

    .partialLengthContainer {
        width: 100%;
    }

    /* ---------------------------------------------- COMMON STYLES ---------------------------------------------- */

    #mainHeader nav ul, footer {
        display: flex;
    }

    #mainHeader nav ul, #othersSocialContainer {
        flex-direction: column;
    }

    #othersSocialContainer, footer {
        justify-content: space-between !important;
    }

    #mainHeader, #socialContainer, footer {
        width: 1060px;
    }

    #mainHeader nav ul {
        margin: auto 0;
    }

    #mainHeader #socialContainer, #mainHeader #othersSocialContainer, #gitlabLink, #mainHeader #mailtoContainer {
        margin: 0 !important;
    }

    #mainHeader {
        padding: 0;
    }

    #mainHeader nav {
        animation: fadeIn 0.5s ease both;
    }

    #mainHeader nav {
        animation-delay: 0.4s;
    }

    #pageFilter > div:nth-child(1), #pageFilter > div:nth-child(2), #pageFilter > div:nth-child(3), #pageFilter > div:nth-child(4) {
        border-right: 1px solid $transparentHeavyWhite;
        width: 25%;
        height: 100%;
    }

    #mailtoContainer {
        height: 20px !important;
    }

    #mailtoContainer a, #othersSocialContainer a {
        opacity: 0.8;
        transition: opacity 0.3s ease;
    }

    #mailtoContainer a:hover, #othersSocialContainer a:hover {
        opacity: 1;
    }

    /* ---------------------------------------------- PAGE FILTER ---------------------------------------------- */

    #pageFilter {
        width: 840px;
    }

    /* ---------------------------------------------- HEAVER NAV ---------------------------------------------- */

    #mainHeader {
        height: 105px;
        margin: 0 auto;
    }

    #mobileController {
        display: none;
    }

    #mainHeader > div:first-child {
        margin: 17px 0 auto;
    }

    #mainHeader nav {
        position: static;
        width: initial;
        padding: 0;
        border: none;
    }

    #mainHeader nav ul {
        height: 100%;
        justify-content: flex-end;
    }

    #mainHeader nav li {
        height: auto;
        margin: 0 0 12px !important;
    }

    #mainHeader nav > ul li a {
        font-size: 0.95rem;
        line-height: 1.1rem;
    }

    #mainHeader nav a:hover {
        text-decoration: underline;
    }

    #socialContainer {
        position: fixed;
        pointer-events: none;
        height: 74px !important;
        top: calc(50% - 37px);
        left: calc(50% - 530px);
    }

    #socialContainer ul {
        width: 100%;
        justify-content: space-between !important;
        flex-direction: row-reverse !important;
    }

    #socialContainer ul li {
        pointer-events: auto;
    }

    #mailtoContainer {
        width: 180px;
        transform: translate(-84px, 25px) rotate(270deg) translate(0, 0);
    }

    #mailtoContainer a {
        height: initial !important;
        margin: 0 auto !important;
        font-size: 0.8rem !important;
        line-height: 1rem !important;
        letter-spacing: 0.3px;
    }

    #gitlabLink {
        position: static;
    }

    /* ---------------------------------------------- FOOTER ---------------------------------------------- */

    footer {
        margin: 200px auto 0;
        padding: 40px 0;
    }

    footer button {
        display: block;
        font-family: "Sequel Black", Arial, sans-serif;
        cursor: pointer;
        background-color: transparent;
        border: none;
        color: $heavyWhite;
        font-size: 1.1rem;
        text-transform: uppercase;
        opacity: 0.75;
        transition: opacity 0.3s ease;
    }

    footer button:hover {
        opacity: 1;
    }

    footer p {
        text-align: center;
    }

    /* ---------------------------------------------- JS CLASS ---------------------------------------------- */

    .navMobileHidden nav {
        right: 0 !important;
        opacity: 1 !important;
    }
}

/* ---------------------------------------------- RESPONSIVE WIDTH MIN 1300PX ---------------------------------------------- */

@media (min-width: 1300px) {

    /* ---------------------------------------------- MAIN ---------------------------------------------- */

    main section {
        width: 854px;
    }

    /* ---------------------------------------------- COMMON STYLES ---------------------------------------------- */

    #mainHeader, #socialContainer, footer {
        width: 1080px;
    }

    #pageFilter > div {
        width: 20% !important;
    }

    #pageFilter > div:nth-child(5), #pageFilter > div:nth-child(6) {
        height: 100%;
        border-right: 1px solid $transparentHeavyWhite;
    }

    /* ---------------------------------------------- PAGE FILTER ---------------------------------------------- */

    #pageFilter {
        width: 1280px;
    }

    /* ---------------------------------------------- HEAVER NAV ---------------------------------------------- */

    #mainHeader > div:first-child {
        width: auto;
    }

    #socialContainer {
        left: calc(50% - 540px);
    }
}

/* ---------------------------------------------- RESPONSIVE WIDTH MIN 1700PX ---------------------------------------------- */

@media (min-width: 1700px) {

    /* ---------------------------------------------- MAIN ---------------------------------------------- */

    main section {
        width: 1120px;
    }

    /* ---------------------------------------------- COMMON STYLES ---------------------------------------------- */

    #mainHeader, #socialContainer, footer {
        width: 1416px;
    }

    /* ---------------------------------------------- PAGE FILTER ---------------------------------------------- */


    #pageFilter {
        width: 1680px;
    }

    /* ---------------------------------------------- HEAVER NAV ---------------------------------------------- */

    #socialContainer {
        left: calc(50% - 708px);
    }
}

/* ---------------------------------------------- RESPONSIVE WIDTH MIN 1120PX AND HEIGHT MAX 600PX ---------------------------------------------- */

@media (min-width: 1120px) and (max-height: 525px) {

    /* ---------------------------------------------- HEAVER NAV ---------------------------------------------- */

    #socialContainer {
        display: none !important;
    }
}
