@import "../core";

/* ---------------------------------------------- MAIN ---------------------------------------------- */

#scrollable {
    -webkit-mask-image: linear-gradient(0deg, $heavyWhite 91%, transparent 100%);
    mask-image: linear-gradient(0deg, $heavyWhite 91%, transparent 100%);
    text-align: center;
}

section {
    padding-top: 45px;
}

article {
    margin-top: 90px;
}

h2 {
    font-size: 3.2rem;
    line-height: 3.35rem;
}

/* ---------------------------------------------- COMMON STYLES ---------------------------------------------- */

#languages, #languages div, #contact h2 {
    display: flex;
}

article:first-child, #projects > div > div:first-child {
    margin-top: 0 !important;
}

#more p, #projectDescriptions {
    margin: 0 auto 22px;
}

#more p, #projectDescriptions, #details p {
    max-width: 100%;
    font-size: 1rem;
    line-height: 1.35rem;
}

#presentation, #languages, #socialContainerBottom a {
    font-family: "Sequel Black", Arial, sans-serif;
}

#more, #languages span {
    animation-delay: 0.8s !important;
}

.projectDescriptions, #projects figure {
    width: 460px;
    max-width: 92%;
    margin: 0 auto;
}

/* ---------------------------------------------- ABOUT ---------------------------------------------- */

h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    margin-bottom: 20px;
}

h1.textFadeInTop span {
    animation-delay: 0.3s;
}

#presentation {
    font-size: 1.05rem;
    line-height: 1.36rem;
}

#presentation.textFadeInTop span {
    animation-delay: 0.6s;
}

#more {
    margin: 40px auto 50px;
    animation: fadeIn 0.3s ease both;
}

#more p {
    width: 359px;
}

#more p:first-child {
    width: 265px;
}

#more p:nth-child(3) {
    margin-bottom: 0;
}

#more a {
    margin-top: 45px;
}

#languages {
    flex-wrap: wrap;
    font-size: 2.05rem;
    line-height: 2.05rem;
}

#languages p:first-child {
    margin-bottom: 2px;
}

#languages div {
    width: 100%;
    justify-content: center;
}

#languages p:first-child span::after, #languages p:nth-child(3) span::after {
    display: inline-block;
    content: "/";
    width: max-content;
    width: -moz-max-content;
    margin: 0 12px;
}

/* ---------------------------------------------- PROJECTS ---------------------------------------------- */

#projects > div > div {
    margin-top: 65px;
}

#projects h2 {
    margin-bottom: 30px;
}

#projects figure {
    height: 100%;
}

#projects h3 {
    margin: 22px 0 17px;
    font-size: 1.9rem;
    line-height: 2.2rem;
}

#projects .commonLinks {
    margin-top: 32px;
}

/* ---------------------------------------------- CONTACT ---------------------------------------------- */

#contact h2 {
    flex-direction: column;
    margin-bottom: 30px;
    font-size: 2.95rem;
    line-height: 2.8rem;
}

#details .commonLinks {
    margin-top: 30px;
}

#socialContainerBottom li:first-child {
    margin-bottom: 4px;
}

#socialContainerBottom a {
    font-size: 2.8rem;
}

#socialContainerBottom li:first-child a {
    line-height: 2.8rem;
}

#socialContainerBottom li:last-child a {
    line-height: 4rem;
}

#socialContainerBottom {
    margin-top: 80px;
}

/* ---------------------------------------------- RESPONSIVE WIDTH MIN 768PX ---------------------------------------------- */

@media (min-width: 768px) {

    /* ---------------------------------------------- MAIN ---------------------------------------------- */

    section {
        padding-top: 55px;
    }

    article {
        margin-top: 115px;
    }

    h2 {
        font-size: 5.5rem;
        line-height: 7.6rem;
    }

    /* ---------------------------------------------- COMMON STYLES ---------------------------------------------- */

    #more p, .projectDescriptions, #contact p {
        font-size: 1.1rem;
        line-height: 1.45rem;
    }

    /* ---------------------------------------------- ABOUT ---------------------------------------------- */

    h1 {
        font-size: 6rem;
        line-height: 6rem;
        margin-bottom: 21px;
    }

    #presentation {
        font-size: 1.2rem;
        line-height: 1.55rem;
    }

    #more {
        margin: 48px auto 45px;
    }

    #more p {
        width: 388px;
    }

    #more p:first-child {
        width: 300px;
    }

    #languages {
        font-size: 3rem;
        line-height: 3rem;
    }

    #languages p:first-child {
        margin-bottom: 0;
    }

    #languages p span:first-child::after {
        margin: 0 15px;
    }

    /* ---------------------------------------------- PROJECTS ---------------------------------------------- */

    #projects > div > div {
        margin-top: 68px;
    }

    #projects h2 {
        margin-bottom: 55px;
    }

    #projects figure {
        width: 510px;
        max-width: initial;
    }

    #projects h3 {
        font-size: 2.7rem;
        line-height: 2.8rem;
    }

    /* ---------------------------------------------- CONTACT ---------------------------------------------- */

    #contact h2 {
        margin-bottom: 45px;
        font-size: 4.4rem;
        line-height: 4.6rem;
    }

    #contact h2 span:last-child {
        margin-top: -13px;
    }

    #details .commonLinks {
        margin-top: 40px;
    }

    #socialContainerBottom {
        margin-top: 100px;
    }

    #socialContainerBottom a {
        font-size: 3.4rem;
    }

    #socialContainerBottom li:last-child a {
        line-height: 4.6rem;
    }
}

/* ---------------------------------------------- RESPONSIVE WIDTH MIN 900PX ---------------------------------------------- */

@media (min-width: 900px) {

    /* ---------------------------------------------- COMMON STYLES ---------------------------------------------- */

    #more p, #more p:first-child {
        width: 100%;
        max-width: initial;
    }
}

/* ---------------------------------------------- RESPONSIVE WIDTH MIN 1120PX ---------------------------------------------- */

@media (min-width: 1120px) {

    /* ---------------------------------------------- MAIN ---------------------------------------------- */

    #scrollable {
        -webkit-mask-image: linear-gradient(0deg, $heavyWhite 87%, transparent 100%);
        mask-image: linear-gradient(0deg, $heavyWhite 87%, transparent 100%);
        text-align: left;
    }

    section {
        padding-top: 75px;
    }

    h2, #contact h2 {
        font-size: 6.7rem;
        line-height: 9.12rem;
    }

    /* ---------------------------------------------- COMMON STYLES ---------------------------------------------- */

    #languages, #languages div {
        flex-direction: column;
    }

    #about, #projects > div > div {
        position: relative;
    }

    #languages, #projects .commonLinks {
        position: absolute;
    }

    #projects .commonLinks {
        margin-top: 0;
    }

    .projectDescriptions, #contact p, #details .commonLinks {
        margin-left: 50%;
    }

    #projects h3, .projectDescriptions {
        width: 50%;
        margin-right: 0;
    }

    #presentation {
        font-size: 1.3rem;
        line-height: 1.6rem;
    }

    #languages {
        text-align: right;
    }

    /* ---------------------------------------------- ABOUT ---------------------------------------------- */

    h1 {
        font-size: 7.5rem;
        line-height: 7.5rem;
    }

    #more {
        width: 419px;
        margin: 100px 0;
    }

    #presentation {
        margin-left: 418px;
    }

    #more a {
        margin-left: 180px;
        white-space: nowrap;
    }

    #languages {
        top: 460px;
        right: 0;
        width: max-content;
        width: -moz-max-content;
        font-size: 4rem;
        line-height: 4rem;
    }

    #languages p span:first-child::after {
        display: none;
    }

    /* ---------------------------------------------- PROJECTS ---------------------------------------------- */

    #projects {
        margin-top: 220px;
    }

    #projects > div > div {
        margin-top: 105px;
    }

    #projects h2 {
        margin: 0 0 75px 202px;
    }

    #projects figure {
        width: 67%;
        margin: 0;
        overflow: hidden;
    }

    #projects figure img {
        -webkit-backface-visibility: hidden;
        -ms-transform: translateZ(0);
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        transition: transform 0.3s ease;
    }

    #projects figure:hover img {
        transform: scale(1.07);
    }

    #projects .reverse figure {
        margin: 0 0 0 auto;
    }

    #projects h3 {
        margin-left: 49.75%;
    }

    #projects .reverse h3 {
        width: 62%;
        margin-left: 0;
    }

    #projects .reverse .projectDescriptions {
        margin-left: 0;
    }

    #projects .commonLinks {
        top: 397px;
        left: 0;
    }

    #projects .reverse .commonLinks {
        left: initial;
        right: 0;
    }

    /* ---------------------------------------------- CONTACT ---------------------------------------------- */

    #contact {
        margin-top: 150px;
    }

    #contact h2 {
        font-size: 6rem;
        line-height: 6rem;
        margin-bottom: 80px;
    }

    #details .commonLinks {
        margin-top: 40px;
    }

    #socialContainerBottom a {
        font-size: 4.3rem;
    }

    #socialContainerBottom li:first-child a {
        line-height: 3.2rem;
    }

    #socialContainerBottom li:last-child a {
        line-height: 6rem;
    }
}

/* ---------------------------------------------- RESPONSIVE WIDTH MIN 1300PX ---------------------------------------------- */

@media (min-width: 1300px) {

    /* ---------------------------------------------- ABOUT ---------------------------------------------- */

    #presentation {
        margin-left: 425px;
    }

    #more {
        width: 427px;
    }

    #more a {
        margin-left: 185px;
    }

    /* ---------------------------------------------- PROJECTS ---------------------------------------------- */

    #projects h2 {
        margin: 0 0 75px 206px;
    }
}

/* ---------------------------------------------- RESPONSIVE WIDTH MIN 1700PX ---------------------------------------------- */

@media (min-width: 1700px) {

    /* ---------------------------------------------- ABOUT ---------------------------------------------- */

    #presentation {
        margin-left: 558px;
    }

    #more {
        width: 560px;
    }

    #more a {
        margin-left: 250px;
    }

    #languages {
        top: 400px;
    }

    /* ---------------------------------------------- PROJECTS ---------------------------------------------- */

    #projects {
        margin-top: 240px;
    }

    #projects > div > div {
        margin-top: 115px;
    }

    #projects h2 {
        margin: 0 0 80px 273px;
    }

    #projects figure {
        width: 62%;
    }

    #projects .commonLinks {
        top: 476px;
    }

    /* ---------------------------------------------- CONTACT ---------------------------------------------- */

    #contact {
        margin-top: 180px;
    }
}

