<!DOCTYPE html>

<html lang="fr-FR">
    <head>
        <!-- =============== ENCODING AND VIEWPORT =============== -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- =============== TITLE AND DESCRIPTION =============== -->
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">

        <!-- =============== ROBOTS =============== -->
        {% block index %}<meta name="robots" content="index, follow">{% endblock %}

        <!-- =============== INFOS =============== -->
        <meta name="author" content="Canal-Tech">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        {% block og %}{% endblock %}
        {% block gtm %}{% endblock %}

        <!-- =============== FAVICON =============== -->
        <link rel="shortcut icon" type="image/png" href="{{ asset('build/images/fav.a828c5eb.png') }}">

        <!-- =============== STYLESHEETS =============== -->
        {% block stylesheets %}{% endblock %}

        <!-- =============== JAVASCRIPT =============== -->
        {% block javascripts %}{% endblock %}
    </head>

    <body>
        {% block body %}{% endblock %}
    </body>
</html>