{% extends "base.html.twig" %}

{% block title %}Samuel Darras - {% endblock %}

{% block description %}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags("app") }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags("app")}}
{% endblock %}

{% block og %}
    <!-- =============== OPENGRAPHS =============== -->
    <!-- OG Facebook -->
    <meta property="og:title" content="{% block ogFacebookTitle %}Samuel Darras - {% endblock %}">
    <meta property="og:description" content="{% block ogFacebookDescription %}{% endblock %}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://samueldarras.com/og/og.png">
    <meta property="og:url" content="{{ app.request.uri }}">
    <!-- End OG Facebook -->
    <!-- OG Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="{% block ogTwitterTitle %}Samuel Darras - {% endblock %}">
    <meta name="twitter:description" content="{% block ogTwitterDescription %}{% endblock %}">
    <meta name="twitter:image" content="https://samueldarras.com/og/og.png">
    <meta name="twitter:url" content="{{ app.request.uri }}">
    <!-- End OG Twitter -->
{% endblock %}

{% block gtm %}
    <!-- =============== GTM =============== -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PTV6DW8');</script>
{% endblock %}

{% block body %}
    {% block gtm2 %}
        <!-- =============== GTM =============== -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PTV6DW8"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    {% endblock %}

    {% include("common_components/header.html.twig") only %}

    <!-- =============== MAIN AND FOOTER =============== -->
    <div id="totalPageContent">
        <!-- =============== FILTER =============== -->
        <div id="pageFilter">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>

        <!-- =============== SCROLLABLE =============== -->
        <div id="scrollable">
            <!-- =============== MAIN =============== -->
            <main id="mainContent">
                <section>
                    {% block content %}{% endblock %}
                </section>
            </main>

            {% include("common_components/footer.html.twig") only %}
        </div>
    </div>
{% endblock %}