<!-- =============== FOOTER =============== -->
<footer>
    <button class="jsLinks" data-scroll="about">Back to top</button>

    <p>&copy; Samuel Darras<br>
    Tous droits réservés</p>
</footer>