<!-- =============== MAIN HEADER =============== -->
<header id="mainHeader" class="navMobileHidden">
    <div class="textFadeInTop"><a href="{{ path('home') }}"><span>Samuel Darras</span></a></div>
    
    <nav>
        <ul>
            <li><a href="#about" class="jsLinks" data-scroll="about">À propos</a></li>
            <li><a href="#projects" class="jsLinks" data-scroll="projects">Projets</a></li>
            <li><a href="#contact" class="jsLinks" data-scroll="contact">Contact</a></li>
            <li id="socialContainer">
                <ul>
                    <li id="othersSocialContainer">
                        <a id="gitlabLink"
                           target="_blank"
                           rel="noreferrer noopener"
                           title="Gitlab"
                           href="https://gitlab.com/JohnCotelette"></a>
                        <a id="linkedinLink"
                           target="_blank"
                           rel="noreferrer noopener"
                           title="Linkedin"
                           href="https://fr.linkedin.com/in/samueldarras"></a>
                    </li>
                    <li id="mailtoContainer"><a href="mailto:samuel.darras@orange.fr">samuel.darras@orange.fr</a></li>
                </ul>
            </li>
        </ul>
    </nav>

    <div id="mobileController">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </div>
</header>