<div class="{{ reverse is defined ? 'reverse' : '' }}">
    <figure class="noAnimated" data-animation="fadeInTop">
        <img src="{{ imgLink }}" alt="{{ imgAlt }} "/>
    </figure>

    <h3 class="noAnimated" data-animation="textFadeInTop"><span>{{ projectTitle }}</span></h3>

    <div class="noAnimated" data-animation="fadeIn">
        <p class="projectDescriptions">{{ projectDescription }}</p>

        {% if inDevelopment is defined and inDevelopment == true %}
            <p class="commonLinks inDevelopment">En développement</p>
        {% else %}
            <a target="_blank" rel="noopener" class="commonLinks" href="{{ projectLink }}">Visiter le site</a>
        {% endif %}
    </div>
</div>